step_functions/order-workflow.json
{
  "Comment": "Techno Order Processing Workflow - Event-driven serverless order management",
  "StartAt": "ValidateOrder",
  "States": {

    "ValidateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "techno-lambda-order-management:live",
        "Payload": {
          "action": "validate",
          "orderId.$": "$.orderId",
          "customerId.$": "$.customerId",
          "items.$": "$.items",
          "totalAmount.$": "$.totalAmount"
        }
      },
      "ResultPath": "$.validationResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "OrderFailed",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "ValidationChoice"
    },

    "ValidationChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validationResult.Payload.isValid",
          "BooleanEquals": true,
          "Next": "ProcessPayment"
        }
      ],
      "Default": "OrderFailed"
    },

    "ProcessPayment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "techno-lambda-process-payment:live",
        "Payload": {
          "orderId.$": "$.orderId",
          "customerId.$": "$.customerId",
          "items.$": "$.items",
          "totalAmount.$": "$.totalAmount"
        }
      },
      "ResultPath": "$.paymentResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PaymentFailed",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "PaymentChoice"
    },

    "PaymentChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.paymentResult.Payload.paymentResult.paymentStatus",
          "StringEquals": "success",
          "Next": "UpdateInventory"
        }
      ],
      "Default": "PaymentFailed"
    },

    "UpdateInventory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "techno-lambda-update-inventory:live",
        "Payload": {
          "orderId.$": "$.orderId",
          "customerId.$": "$.customerId",
          "items.$": "$.items",
          "totalAmount.$": "$.totalAmount",
          "paymentResult.$": "$.paymentResult.Payload.paymentResult"
        }
      },
      "ResultPath": "$.inventoryResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "InventoryFailed",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "InventoryChoice"
    },

    "InventoryChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.inventoryResult.Payload.inventoryResult.inventoryStatus",
          "StringEquals": "success",
          "Next": "SendConfirmation"
        },
        {
          "Variable": "$.inventoryResult.Payload.inventoryResult.inventoryStatus",
          "StringEquals": "insufficient_stock",
          "Next": "InventoryFailed"
        }
      ],
      "Default": "InventoryFailed"
    },

    "SendConfirmation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "techno-lambda-send-notification:live",
        "Payload": {
          "notificationType": "order_confirmation",
          "data": {
            "order_id.$": "$.orderId",
            "total_amount.$": "$.totalAmount",
            "customer_id.$": "$.customerId"
          }
        }
      },
      "ResultPath": "$.notificationResult",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "OrderCompleted",
          "ResultPath": "$.notificationError"
        }
      ],
      "Next": "OrderCompleted"
    },

    "OrderCompleted": {
      "Type": "Succeed",
      "Comment": "Order processing completed successfully"
    },

    "PaymentFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "techno-lambda-send-notification:live",
        "Payload": {
          "notificationType": "payment_failed",
          "data": {
            "order_id.$": "$.orderId",
            "total_amount.$": "$.totalAmount",
            "customer_id.$": "$.customerId"
          }
        }
      },
      "ResultPath": "$.failureNotification",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "OrderFailed"
    },

    "InventoryFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "techno-lambda-send-notification:live",
        "Payload": {
          "notificationType": "inventory_failed",
          "data": {
            "order_id.$": "$.orderId",
            "product_id.$": "$.inventoryResult.Payload.inventoryResult.product_id",
            "available.$": "$.inventoryResult.Payload.inventoryResult.available",
            "requested.$": "$.inventoryResult.Payload.inventoryResult.requested"
          }
        }
      },
      "ResultPath": "$.failureNotification",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "OrderFailed"
    },

    "OrderFailed": {
      "Type": "Fail",
      "Error": "OrderProcessingFailed",
      "Cause": "Order processing failed. Check error details in execution history."
    }
  }
}
